.home {
    text-align: center;
}
  
  
.card {
    padding: 2em;
    background-color: #fff; /* Fundo branco para os cards */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin: 20px; /* Espaçamento entre os cards */
    text-align: left; /* Alinhamento do texto */
}
  
.card h3 {
    margin-top: 0;
    color: #ff8c00; /* Cor laranja para o título */
}
  
.card p {
    margin-bottom: 10px;
}
  
  